/*
  Main Stylesheet
*/
.sidebar {
  background-color: rgb(45, 45, 45);
  float: left;
  height: 60rem;
  width: 10rem;
}

.sidebar-list {
  color: white;
  font-size: 2.5rem;
  list-style: none;
}

.image {
  height: 15rem;
  width: 20rem;
  margin: 1.2rem;
}
/*
  MODAL
*/
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.modal-show {
  display: block;
}

.modal_image {
  height: 40rem;
  width: 40rem;
}
